

  	
	 body{
	   background-color: pink;
       
       margin:50px
       border:5px dodgerblue;
       padding:50x;
       
	 }
h1 {color:orange;		 	color:orange:
 		 }		 	
h2 {color:Dodgerblue;}
 
h3{color:red;}


  </body>		
 </html>		




